<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - ГРОИРО. Мир</title>
    <link rel="stylesheet" href="../../static/AllGroiro/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya&amp;display=swap">
    <link rel="stylesheet" href="../../static/AllGroiro/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../static/AllGroiro/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../../static/AllGroiro/assets/css/pikaday.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#">ГРОИРО. Мир</a></div>
    </nav>
    <main class="page lanidng-page">
        <section class="portfolio-block block-intro">
            <div class="container">
                <div class="avatar" style="background: url(&quot;assets/img/avatars/Рисунок1.png&quot;) top / contain no-repeat;width: 200px;height: 200px;"></div>
                <div class="about-me">
                    <p style="font-family: Alegreya, serif;margin-bottom: -6px;font-size: 30px;">Проект "Электронный институт"</p>
                </div>
            </div>
        </section>
        <section class="portfolio-block photography">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="project-card-no-image" style="text-align: center;"><i class="far fa-id-card text-primary" style="font-size: 90px;margin: 0px;margin-bottom: 10px;"></i>
                            <h2 style="font-family: Alegreya, serif;">ГрОИРО. Услуги</h2>
                            <h3 class="text-secondary" style="font-family: Alegreya, serif;"></h3><a class="btn btn-outline-primary btn-sm" role="button" href="#">Перейти</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="project-card-no-image">
                            <h3>Lorem Ipsum</h3>
                            <h4>Lorem ipsum dolor sit amet</h4><a class="btn btn-outline-primary btn-sm" role="button" href="#">See More</a>
                            <div class="tags"><a href="#">JavaScript</a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="project-card-no-image">
                            <h3>Lorem Ipsum</h3>
                            <h4>Lorem ipsum dolor sit amet</h4><a class="btn btn-outline-primary btn-sm" role="button" href="#">See More</a>
                            <div class="tags"><a href="#">CSS</a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="project-card-no-image">
                            <h3>Lorem Ipsum</h3>
                            <h4>Lorem ipsum dolor sit amet</h4><a class="btn btn-outline-primary btn-sm" role="button" href="#">See More</a>
                            <div class="tags"><a href="#">Ruby</a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="project-card-no-image">
                            <h3>Lorem Ipsum</h3>
                            <h4>Lorem ipsum dolor sit amet</h4><a class="btn btn-outline-primary btn-sm" role="button" href="#">See More</a>
                            <div class="tags"><a href="#">PHP</a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="project-card-no-image">
                            <h3>Lorem Ipsum</h3>
                            <h4>Lorem ipsum dolor sit amet</h4><a class="btn btn-outline-primary btn-sm" role="button" href="#">See More</a>
                            <div class="tags"><a href="#">HTML</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <section class="portfolio-block website gradient">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-auto col-md-12 col-lg-5 offset-lg-1 text">
                    <h1 style="font-family: Alegreya, serif;">Гродненский областной институт развития образования</h1>
                    <p class="fs-3" style="font-family: Alegreya, serif;font-style: italic;text-decoration: underline;">Вместе к успеху!</p>
                </div>
                <div class="col-md-12 col-lg-5">
                    <div class="portfolio-laptop-mockup">
                        <div class="screen" style="width: 500px;height: 310px;">
                            <div class="screen-content" style="background: url(&quot;https://services.pystart.by/static/services/assets/img/groiro2.jpg&quot;) no-repeat;background-size: cover;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="portfolio-block contact" style="padding-top: 60px;">
        <div class="container">
            <div class="heading" style="margin-bottom: 40px;">
                <h1 style="font-family: Alegreya, serif;font-size: 50px;">Форма для связи</h1>
            </div>
            <form>
                <div class="mb-3"><label class="form-label" for="name">Ваше имя</label><input class="form-control item" type="text" id="name" required=""></div>
                <div class="mb-3"><label class="form-label" for="subject">Тема</label><input class="form-control item" type="text" id="subject" required=""></div>
                <div class="mb-3"><label class="form-label" for="email">Email</label><input class="form-control item" type="email" id="email" required="" inputmode="email"></div>
                <div class="mb-3"><label class="form-label" for="message">Сообщение</label><textarea class="form-control item" id="message" required=""></textarea></div>
                <div class="mb-3"><button class="btn btn-primary btn-lg d-block w-100" type="submit">Отправить</button></div>
            </form>
        </div>
    </section>
    <footer class="page-footer">
        <div class="container">
            <div class="links">
                <p class="text-secondary">Copyright by ГрОИРО, 2024</p>
            </div>
            <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
        </div>
    </footer>
    <script src="../../static/AllGroiro/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/AllGroiro/assets/js/pikaday.min.js"></script>
    <script src="../../static/AllGroiro/assets/js/theme.js"></script>
</body>

</html>