{% extends 'services_base.html' %}
{% load static %}

{% block content %}
    <h3 class="text-dark mb-4">{{title}}</h3>
    <div class="card shadow">
        <div class="card-body">
            <div class="table-responsive text-start">
                <form method="post">
                    {% csrf_token %}
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="text-end" style="width: 10%;">Период</td>
                                <td style="width: 25%;">
                                    <input type="date" style="padding-top: 4px;padding-right: 8px;padding-bottom: 4px;padding-left: 8px;color: rgb(133,135,150);font-size: 14px;border-radius: 4px;border-width: 1px;border-color: rgb(133,135,150);overflow: visible;display: inline-block;margin-left: 9px;margin-top: 3px;" id="date_start" name="date_start" value="{{date_start}}">
                                    <input type="date" style="padding-top: 4px;padding-right: 8px;padding-bottom: 4px;padding-left: 8px;color: rgb(133,135,150);font-size: 14px;border-radius: 4px;border-width: 1px;border-color: rgb(133,135,150);overflow: visible;display: inline-block;margin: 0px;margin-left: 9px;margin-top: 3px;" id="date_finish" name="date_finish" value="{{date_finish}}">
                                </td>
                                <td class="text-end" style="width: 25%;"></td>
                                <td class="text-end" style="width: 25%;"></td>
                            </tr>
                            <tr>
                                <td class="text-end">Услуга</td>
                                <td>
                                    <select class="d-block" style="margin-left: 8px;padding-right: 90px;padding-top: 4px;padding-bottom: 4px;padding-left: 8px;font-size: 14px;border-color: rgb(133,135,150);border-radius: 4px;color: rgb(133,135,150);"  id="service" name="service">
                                        <option value="all">Все услуги</option>
                                        {% for s in services %}
                                            <option value="{{s.pk}}">{{s.name}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="text-end"></td>
                                <td>
                                    <input class="btn btn-primary" type="submit" value="Показать">
                                    <a class="btn btn-primary" type="button" style="margin-left: 5px; border-radius: 10px"
                                       href="{% url 'listReports' structure.pk %}">Очистить</a>
                                    <input type="button" value="Скачать" onclick="setGetParameter()" class="btn btn-primary" style="border-radius: 10px" />
                                </td>
                                <td class="text-end"></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </form>
            </div>
            <hr>
            <div class="table-responsive text-center table mt-2" role="grid" aria-describedby="dataTable_info">
                <table class="table table-striped table-sm table-bordered my-0">
                    <thead>
                        <tr>
                            <th class="text-center" rowspan="2">Дата</th>
                            <th class="text-center" rowspan="2">Услуга</th>
                            <th class="text-center" colspan="2">Оплата наличными</th>
                            <th class="text-center" colspan="2">Оплата по карте</th>
                            <th class="text-center" colspan="2">Итого</th>
                            <th class="text-center" rowspan="2">Дата создания отчета</th>
                        </tr>
                        <tr>
                            <th class="text-center">Количество</th>
                            <th class="text-center">Сумма</th>
{#                            <th class="text-center">В том числе НДС</th>#}
                            <th class="text-center">Количество</th>
                            <th class="text-center">Сумма</th>
                            <th class="text-center">Количество</th>
                            <th class="text-center">Сумма</th>
{#                            <th class="text-center">В том числе НДС</th>#}
                        </tr>
                    </thead>
                    <tbody id="reportsTable">
                        {% for r in reports %}
                            <tr>
                                <td style="width: 10%;">{{ r.date|date:"d.m.Y" }}</td>
                                <td>{{ r.service }}</td>
                                <td style="width: 10%;">{{ r.cash_amount }}</td>
                                <td style="width: 10%;">{{ r.cash_sum }} руб.</td>
{#                                <td style="width: 10%;">{{ r.cash_nds }} руб.</td>#}
                                <td style="width: 10%;">{{ r.card_amount }}</td>
                                <td style="width: 10%;">{{ r.card_sum }} руб.</td>
                                <td style="width: 10%;">{{ r.amount }}</td>
                                <td style="width: 10%;">{{ r.sum }} руб.</td>
{#                                <td style="width: 10%;">{{ r.card_nds }} руб.</td>#}
                                <td style="width: 16.6%;">{{ r.date_create|date:"d.m.Y" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td class="text-end"><strong>Итого</strong></td>
                            <td id="total_cash_count"></td>
                            <td id="total_cash_sum"></td>
{#                            <td id="total_cash_nds"></td>#}
                            <td id="total_card_count"></td>
                            <td id="total_card_sum"></td>
                            <td id="total_count"></td>
                            <td id="total_sum"></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {Sum()})

        function Sum() {
            const
                total_count = document.getElementById('total_count'),
                total_sum = document.getElementById('total_sum'),
                total_cash_count = document.getElementById('total_cash_count'),
                total_cash_sum = document.getElementById('total_cash_sum'),
                total_card_count = document.getElementById('total_card_count'),
                total_card_sum = document.getElementById('total_card_sum');
                {#total_nds = document.getElementById('total_nds');#}
            let
                trs = document.getElementsByTagName('tbody')[1].getElementsByTagName('tr'),
                count_cash=0,
                sum_cash=0,
                count_card=0,
                sum_card=0,
                count_total=0,
                sum_total=0;

            for (let td=0; td < trs.length; td++){
                if (trs[td].style.display == '') {
                    count_cash = count_cash + Number(trs[td].getElementsByTagName('td')[2].innerText);
                    total_cash_count.innerText = count_cash;
                    // console.log(tc);

                    sum_cash = sum_cash + parseFloat(trs[td].getElementsByTagName('td')[3].innerText.split(' ')[0].replace(',', '.'))
                    total_cash_sum.innerText = sum_cash.toFixed(2).replace('.', ',') + ' руб.';
                    // console.log(ts)

                    count_card = count_card + Number(trs[td].getElementsByTagName('td')[4].innerText);
                    total_card_count.innerText = count_card;
                    // console.log(tc);

                    sum_card = sum_card + parseFloat(trs[td].getElementsByTagName('td')[5].innerText.split(' ')[0].replace(',', '.'))
                    total_card_sum.innerText = sum_card.toFixed(2).replace('.', ',') + ' руб.';
                    // console.log(ts)

                    count_total = count_total + Number(trs[td].getElementsByTagName('td')[6].innerText);
                    total_count.innerText = count_total;
                    // console.log(tc);

                    sum_total = sum_total + parseFloat(trs[td].getElementsByTagName('td')[7].innerText.split(' ')[0].replace(',', '.'))
                    total_sum.innerText = sum_total.toFixed(2).replace('.', ',') + ' руб.';
                    // console.log(ts)
                }
            {#total_nds.innerText = (parseFloat(total_sum.innerText.split(' ')[0].replace(',', '.'))/6).toFixed(2) + ' руб.';#}


            }
        }

        function Filter_by_service(ths) {
            const service = ths.value.toUpperCase(),
                table = document.getElementById('reportsTable'),
                tr = table.getElementsByTagName('tr');

            for (i = 0; i < tr.length; i++) {

                    td = tr[i].getElementsByTagName('td')[1];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (service != 'ALL') {
                            if (txtValue.toUpperCase().indexOf(service) > -1) {
                                tr[i].style.display = '';
                            } else {
                                tr[i].style.display = 'none';
                            }
                        } else {
                            tr[i].style.display = '';
                        }

                    }

            }
            Sum();
        }

        function  Filter_by_date(){
            const date_start = new Date(document.getElementById('date_start').value),
                date_finish = new Date(document.getElementById('date_finish').value),
                table = document.getElementById('reportsTable'),
                tr = table.getElementsByTagName('tr');

            // console.log('С ' + date_start + ' по ' + date_finish);

            for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName('td')[0];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        txtValue = txtValue.split('.');
                        txtValue = new Date(txtValue[2] + '-' + txtValue[1] + '-' + txtValue[0]);
                        console.log(txtValue);

                        if (txtValue >= date_start && txtValue <= date_finish) {
                            tr[i].style.display = '';
                        } else {
                            tr[i].style.display = 'none';
                        }
                    }
            }
            Sum();
        }

        function setGetParameter(){
            service = document.getElementById('service').value;
            date_start = document.getElementById('date_start').value;
            date_finish = document.getElementById('date_finish').value;
            structure = "{{structure}}"
            console.log(service, date_start, date_finish);
            window.location.href = "{% url 'downloadReport' %}" + "?service=" + service + "&date_start=" + date_start + "&date_finish=" + date_finish + "&structure=" + structure;
        }
    </script>

{% endblock %}